<!-- Footer -->
<div style="height: 4px; background-color: #ff0019; width: 100%;"></div>

<footer class="footer">
    <div class="container">
        <div class="row"
            style="display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start;">
            <!-- Sección de marca -->
            <div class="col-md-6 mb-3">
                <h5 class="footer-title">MONOVAPOLY</h5>
                <br>
                <br>
                <p id="texto-footer">Calidad, estilo y comunidad en Aguascalientes</p>
            </div>


            <!-- Sección de redes sociales -->
            <div class="col-md-6 mb-3" style="flex: 1; min-width: 280px;">
                <h5 class="footer-title">Síguenos</h5>
                <br>
                <br>
                <a href="https://www.instagram.com/monovapoly__ags/" id="btnInstagram" class="social">
                    <i class="bi bi-instagram social-icon"></i> Instagram
                </a>

                <a href="https://www.tiktok.com/@monovapoly" id="btnTikTok" class="social">
                    <i class="bi bi-tiktok social-icon"></i> TikTok
                </a>

            </div>
        </div>

        <!-- Pie inferior -->
        <div class="footer-bottom">
            <p>©2025 <strong>Monovapoly</strong> | Todos los derechos reservados</p>
            <li class="hide-on-mobile"><a class="nav-link" [routerLink]="['/politicas-privacidad']">Politica Privacidad</a></li>
            <p>Desarrollado por <strong>Abraham Robledo</strong></p>
        </div>
    </div>
    <br>
    <div style="height: 4px; background-color: #ff0019; width: 100%;"></div>
</footer>