
<!-- Carrusel -->
<app-carrusel></app-carrusel>

<!-- HomeAgs -->
<app-home-ags></app-home-ags>

<app-gorras></app-gorras>

<!-- Quienes somos -->
<app-quienes-somos></app-quienes-somos>

<!-- Ubicaciones -->
<app-ubicaciones></app-ubicaciones>

<!-- Ordenar -->
<app-ordenar></app-ordenar>

<!-- Redes sociales -->
<app-redes-sociales></app-redes-sociales>

<!-- Suscribirse -->
<app-suscribirse></app-suscribirse>

<!-- Preguntas frecuentes -->
<app-preguntas-frecuentes></app-preguntas-frecuentes>

<app-boton-whatsapp></app-boton-whatsapp>