<body>
    <br>
    <!-- About Us Section -->
    <section id="about" class="container py-5">
        <h3 class="text-center title">¿Quiénes somos?</h3>
        <p class="description">En Monovapoly somos una empresa local de Aguascalientes, nacida con el objetivo de
            modernizar la experiencia de compra y crear un espacio donde el servicio, la atención y el estilo se sientan
            diferentes.<br>Queremos que cada cliente diga: “yo compro ahí, no porque no haya más lugares, sino porque me
            gusta cómo lo hacen”.<br>Buscamos siempre que lo que vendemos se sienta exclusivo, bonito y, sobre todo,
            bien atendido. Creemos que la diferencia está en los detalles, y por eso trabajamos cada día para que venir
            a Monovapoly se sienta chido.</p>

        <h3 class="text-center title">¿Qué ofrecemos?</h3>
        <p class="description">Ofrecemos principalmente vapes de todos los modelos y sabores, además de gorras y
            vapes.<br>Manejamos el mejor precio posible, cuidando siempre que eso no afecte la calidad del servicio que
            damos.<br>Nuestro compromiso es mantenernos actualizados, brindar asesoría, garantizar disponibilidad y
            atender bien, para que cada compra sea una buena experiencia.<br>En Monovapoly no solo vendemos productos:
            ofrecemos estilo, atención y confianza.</p>
    </section>
</body>