<body>
    <!-- Social Media Section -->
    <br>
    <section id="social" class="container py-5" style="background-color: #222;">
        <h3 id="titulo-redes" class="text-center mb-4 title">¡Síguenos en nuestras Redes Sociales!</h3>

        <p class="text">Conéctate con nosotros y no te pierdas de ninguna novedad, estilo y
            promociones exclusivas.</p>
        <br>

        <!-- Instagram Section -->
        <h4 id="redes" class="text-center text-white">
            <a href="https://www.instagram.com/monovapoly__ags/" target="_blank"
                style="color: inherit; text-decoration: none;">
                <i class='bx bxl-instagram' style="font-size: 1.5em; vertical-align: middle; margin-right: 8px;"></i>
                Instagram
            </a>
        </h4>
        <br>
        <!-- Elfsight Instagram Feed -->
        <div class="instagram-section">
            <script src="https://static.elfsight.com/platform/platform.js" async></script>
            <div class="elfsight-app-aab6fe7f-a919-4b1d-a09b-0cc6bebfc084" data-elfsight-app-lazy></div>
        </div>


        <!-- TikTok Section -->
        <h4 id="redes" class="text-center text-white mt-5">
            <i class='bx bxl-tiktok'
                style="font-size: 1.5em; vertical-align: middle; margin-right: 8px; color: white;"></i>
            TikTok
        </h4>
        <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@monovapoly" data-unique-id="monovapoly"
            data-embed-from="embed_page" data-embed-type="creator" style="max-width:780px; min-width:288px;">
            <section> <a target="_blank" href="https://www.tiktok.com/@monovapoly?refer=creator_embed">monovapoly</a>
            </section>
        </blockquote>
    </section>
</body>