<body>
    <br>
    <br>
    <!-- Card de Suscripción -->
    <div class="card text-center text-white"
        style="background-color: #000; border-radius: 15px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);">
        <div class="card-body">
            <h3 class="card-title mb-3" style="font-weight: bold; text-transform: uppercase;">¡Suscríbete y Obtén un 10%
                de Descuento!</h3>
            <p class="card-text mb-4" style="font-size: 1.2rem;">Recibe promociones exclusivas y las últimas novedades
                directamente en tu correo.</p>
            <a href="https://links.monovapoly.store/" class="btn btn-danger btn-lg" style="    background-color: #ff0019;
            border-radius: 30px; padding: 0.8rem 2rem;">Suscribirse Ahora</a>
        </div>
    </div>
</body>